body
{
	background-image: url("C://Users/magne_000/Desktop/6 семестр/Веб/Лаб 1/i.jpg");
	background-size: 100%;
}
*
{	
	font-family: Verdana;
}
.title
{
	font-size: 40px;	
	background: ffff00;
	color: #333;
	text-align: center;
	margin: 0 40px 0 40px;
	border: 1px solid;	
	text-shadow: 1px 1px 1px black, 0 0 1em blue;
}
label.l1
{
	margin-left: 5%;
	text-decoration: underline;
}
.containr
{
	display: inline-block;
	height: 410;
}
.contain
{
	position: relative;
	top: 40;
	display: inline-block;
}

#test
{
	margin-left: 15%;
}
#pic
{
	margin-left: 40%;
}
img:hover
{
	border: 5px solid;
}
img
{
	border: 1px solid;	
}
.r
{
	font-family: Verdana;
	margin: 0 0 0 40px;
}
input.last
{
	margin-left: 40%;
}
section
{
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid black;
	background-image: url("C://Users/magne_000/Desktop/6 семестр/Веб/Лаб 1/2.jpg");
}
